# Replace with your actual domain name and email
# The global block can contain an email for Let's Encrypt recovery
{
    email {$CADDY_EMAIL:admin@example.com}
}

# The frontend app (Next.js)
{$DOMAIN:localhost} {
    handle /api/* {
        uri strip_prefix /api
        reverse_proxy api:3333
    }
    handle {
        reverse_proxy web:3000
    }
}

# The backend API (NestJS)
api.{$DOMAIN:localhost} {
    reverse_proxy api:3333
}
