# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
db.sqlite3
*.log
staticfiles/

# Virtualenv / venv
.venv/
venv/
env/
ENV/
Scripts/
Lib/
Include/
pyvenv.cfg

# Env/Sensitive
.env
.env.*
*.db
*.sqlite
*.sqlite3
storage/

# Keys
*.pem
*.key
*.p12
*.pfx
*.jks
*.keystore

# Flutter
build/
.dart_tool/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
