-- CreateEnum
CREATE TYPE "PlanType" AS ENUM ('FREE', 'STARTER', 'PRO');

-- CreateEnum
CREATE TYPE "BillingStatus" AS ENUM ('TRIAL', 'ACTIVE', 'PAST_DUE', 'CANCELED');

-- DropIndex
DROP INDEX "TimeTrack_manualStatus_createdAt_idx";

-- DropIndex
DROP INDEX "TimeTrack_incidentType_idx";

-- DropIndex
DROP INDEX "TimeClosingSummary_companyId_idx";

-- DropIndex
DROP INDEX "TimeClosingSummary_closingPeriodId_idx";

-- AlterTable
ALTER TABLE "Company" ADD COLUMN     "billingStatus" "BillingStatus" NOT NULL DEFAULT 'TRIAL',
ADD COLUMN     "plan" "PlanType" NOT NULL DEFAULT 'FREE',
ADD COLUMN     "trialEndsAt" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "TimeTrack" ADD COLUMN     "companyId" UUID NOT NULL,
ADD COLUMN     "lateMinutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "overtimeApprovalStatus" TEXT NOT NULL DEFAULT 'PENDING',
ADD COLUMN     "overtimeApprovedAt" TIMESTAMP(3),
ADD COLUMN     "overtimeApprovedByUserId" UUID,
ADD COLUMN     "overtimeBankMinutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "overtimeExceedsLimit" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "overtimeHandling" TEXT NOT NULL DEFAULT 'PAYMENT',
ADD COLUMN     "overtimePaymentMinutes" INTEGER NOT NULL DEFAULT 0,
ALTER COLUMN "overtime50Minutes" SET NOT NULL,
ALTER COLUMN "overtime50Minutes" SET DEFAULT 0,
ALTER COLUMN "overtime100Minutes" SET NOT NULL,
ALTER COLUMN "overtime100Minutes" SET DEFAULT 0,
ALTER COLUMN "nightShiftMinutes" SET NOT NULL,
ALTER COLUMN "nightShiftMinutes" SET DEFAULT 0;

-- AlterTable
ALTER TABLE "Holiday" DROP COLUMN "type",
ADD COLUMN     "affectsWeekend" BOOLEAN NOT NULL DEFAULT false,
ADD COLUMN     "deletedAt" TIMESTAMP(3),
ADD COLUMN     "handling" TEXT NOT NULL DEFAULT 'PAID_100',
ADD COLUMN     "scope" TEXT NOT NULL DEFAULT 'NATIONAL';

-- AlterTable
ALTER TABLE "WorkScheduleRule" DROP COLUMN "department",
DROP COLUMN "entryTime",
DROP COLUMN "exitTime",
DROP COLUMN "overtimeEnabled",
DROP COLUMN "position",
DROP COLUMN "timeBankEnabled",
ADD COLUMN     "maxDailyOvertimeMinutes" INTEGER NOT NULL DEFAULT 120,
ADD COLUMN     "maxMonthlyOvertimeMinutes" INTEGER NOT NULL DEFAULT 2400,
ADD COLUMN     "nightShiftPercent" INTEGER NOT NULL DEFAULT 20,
ADD COLUMN     "restDaysOfWeek" INTEGER[] DEFAULT ARRAY[0, 6]::INTEGER[],
ADD COLUMN     "standardEntry" TEXT,
ADD COLUMN     "standardExit" TEXT,
ALTER COLUMN "dailyMinutes" SET DEFAULT 480,
ALTER COLUMN "weeklyMinutes" SET DEFAULT 2400,
ALTER COLUMN "lateToleranceMinutes" SET DEFAULT 10,
ALTER COLUMN "earlyLeaveToleranceMinutes" SET DEFAULT 10,
ALTER COLUMN "overtimeToleranceMinutes" SET DEFAULT 5,
ALTER COLUMN "nightStartTime" SET NOT NULL,
ALTER COLUMN "nightStartTime" SET DEFAULT '22:00',
ALTER COLUMN "nightEndTime" SET NOT NULL,
ALTER COLUMN "nightEndTime" SET DEFAULT '05:00',
ALTER COLUMN "closingStartDay" SET DEFAULT 1,
ALTER COLUMN "closingEndDay" SET DEFAULT 31,
ALTER COLUMN "adjustmentDeadlineDay" SET DEFAULT 5,
ALTER COLUMN "managerApprovalDeadlineDay" SET DEFAULT 10,
DROP COLUMN "status",
ADD COLUMN     "status" TEXT NOT NULL DEFAULT 'ACTIVE',
ALTER COLUMN "workScale" SET NOT NULL,
ALTER COLUMN "workScale" SET DEFAULT '5x2';

-- AlterTable
ALTER TABLE "TimeClosingSummary" DROP COLUMN "closingPeriodId",
DROP COLUMN "companyId",
DROP COLUMN "delayMinutes",
DROP COLUMN "expectedMinutes",
DROP COLUMN "exportedAt",
DROP COLUMN "exportedExcelUrl",
DROP COLUMN "exportedPdfUrl",
DROP COLUMN "justifiedAbsenceDays",
DROP COLUMN "overtimeMinutes",
DROP COLUMN "status",
DROP COLUMN "timeBankNegativeMinutes",
DROP COLUMN "timeBankPositiveMinutes",
DROP COLUMN "workedMinutes",
ADD COLUMN     "attendancePercent" DECIMAL(5,2) NOT NULL DEFAULT 100,
ADD COLUMN     "daysWorked" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "holidayDays" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "lateMinutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "normalMinutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "overtime100Minutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "overtime50Minutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "overtimeBankMinutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "overtimePaymentMinutes" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "paidHolidayDays" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "timeClosingPeriodId" UUID NOT NULL,
ADD COLUMN     "vacationDays" INTEGER NOT NULL DEFAULT 0,
ALTER COLUMN "absenceDays" SET DEFAULT 0,
ALTER COLUMN "absenceDays" SET DATA TYPE DECIMAL(5,2);

-- CreateTable
CREATE TABLE "OvertimeBank" (
    "id" UUID NOT NULL,
    "companyId" UUID NOT NULL,
    "employeeId" UUID NOT NULL,
    "balanceMinutes" INTEGER NOT NULL DEFAULT 0,
    "accumulatedMinutes" INTEGER NOT NULL DEFAULT 0,
    "lastUpdatedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "OvertimeBank_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TimeClosingAuditLog" (
    "id" UUID NOT NULL,
    "timeClosingPeriodId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "action" TEXT NOT NULL,
    "reason" TEXT,
    "changedData" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TimeClosingAuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "OvertimeBank_employeeId_key" ON "OvertimeBank"("employeeId");

-- CreateIndex
CREATE INDEX "OvertimeBank_employeeId_idx" ON "OvertimeBank"("employeeId");

-- CreateIndex
CREATE UNIQUE INDEX "OvertimeBank_companyId_employeeId_key" ON "OvertimeBank"("companyId", "employeeId");

-- CreateIndex
CREATE INDEX "TimeClosingAuditLog_timeClosingPeriodId_idx" ON "TimeClosingAuditLog"("timeClosingPeriodId");

-- CreateIndex
CREATE INDEX "TimeClosingAuditLog_userId_idx" ON "TimeClosingAuditLog"("userId");

-- CreateIndex
CREATE INDEX "TimeTrack_companyId_idx" ON "TimeTrack"("companyId");

-- CreateIndex
CREATE INDEX "TimeTrack_overtimeApprovalStatus_idx" ON "TimeTrack"("overtimeApprovalStatus");

-- CreateIndex
CREATE INDEX "Holiday_date_idx" ON "Holiday"("date");

-- CreateIndex
CREATE INDEX "WorkScheduleRule_status_idx" ON "WorkScheduleRule"("status");

-- CreateIndex
CREATE INDEX "TimeClosingSummary_timeClosingPeriodId_idx" ON "TimeClosingSummary"("timeClosingPeriodId");

-- CreateIndex
CREATE UNIQUE INDEX "TimeClosingSummary_timeClosingPeriodId_employeeId_key" ON "TimeClosingSummary"("timeClosingPeriodId", "employeeId");

-- AddForeignKey
ALTER TABLE "TimeTrack" ADD CONSTRAINT "TimeTrack_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeTrack" ADD CONSTRAINT "TimeTrack_overtimeApprovedByUserId_fkey" FOREIGN KEY ("overtimeApprovedByUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeClosingSummary" ADD CONSTRAINT "TimeClosingSummary_timeClosingPeriodId_fkey" FOREIGN KEY ("timeClosingPeriodId") REFERENCES "TimeClosingPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeClosingSummary" ADD CONSTRAINT "TimeClosingSummary_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OvertimeBank" ADD CONSTRAINT "OvertimeBank_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OvertimeBank" ADD CONSTRAINT "OvertimeBank_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "Company"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeClosingAuditLog" ADD CONSTRAINT "TimeClosingAuditLog_timeClosingPeriodId_fkey" FOREIGN KEY ("timeClosingPeriodId") REFERENCES "TimeClosingPeriod"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TimeClosingAuditLog" ADD CONSTRAINT "TimeClosingAuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

